@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Navigation Bar*/

nav{
    display: flex;
    padding: 0.6% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #032d89;
}
nav img{
    width: 60px;
    height: 60px;
}
.navbar{
    text-align: left;
} 
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
}
nav ul ul{
    position: absolute;
    top:60px;
    right: -50px;
    display: none;
    background-color: #032d89;
    margin-top: -20px;
}
nav ul ul li{
    width: 150px;
    float:none;
    display: list-item;
    position: relative;
}
nav ul li:hover > ul{
    display: block;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 15px;
}
.box{
  position: relative;
  width: 60%;
  padding: 25px;
  background: white; 
  margin-top: 20px;
  margin-left: 340px;
  margin-bottom: 10px; 
  border: 1px solid #b3b3b3;
}
h4{
    text-align: center;
    font-size: 19px;
}
p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}
.border{   
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border: 1px solid black; */
} 
.chckbx{
    width: 650px;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 600;
    text-align: justify ;
    cursor: default ;
}   
.content-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    min-width: 100px;
    overflow: hidden; 
}
.content-table thead tr {
     /**
    background-color: #032d89;
*/
    color: #565656;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
    /**
    border: 1px solid #032d89;
    */
    width: 300px;
}
.Transaction-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100px;
    overflow: hidden;  
}
.Transaction-table thead tr { 
    color: #565656;
    text-align: center;
    font-weight: bold;
}
.Transaction-table th,
.Transaction-table td {
    padding: 12px 15px;
    width: 300px;   
}
.Transaction-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    overflow: hidden;   
}
.contact-table { 
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    overflow: hidden;
}
.contact-table thead tr {
    color: #565656;
    text-align: center;
    font-weight: bold;
}
.contact-table th,
.contact-table td {
    padding: 12px 15px;
    /**
    border: 1px solid #032d89;
    */
    width: 300px;
}
button{
    width: 15%;
    height: 40px;
    color: black;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    margin-top: 40px; 
  }
.confirm{
    margin-left: 460px;
    background:#032d89;
    color: white;

}
.confirm, button{
    margin-top: 50px;
}
.chckbx p{
    color: red;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
}

/* FOR Proof of Appointment */

#proof_of_app{
    display: none;
    position: relative;
    width: 50%;
    padding: 25px;
    margin-left: 340px; 
    margin-bottom: 10px; 
}
#proof_of_app1 h3, #proof_of_app1 h4{
    text-align: center;
    margin-bottom: 30px;
}
#proof_of_app1 p, #proof_of_app1 h4{
    text-align: center;
}
#proof_of_app1 table tr td, #proof_of_app1 table tr th{
    border: 1px solid black;
    padding: 5px;
    width: 250px;
}
#proof_of_app1 table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

     @media only screen and (max-width: 1200px){
        .box,.border {
            margin-left: 100%;
        }
        .box,.border ,.content-table,.Transaction-table, .contact-table,.chckbx  {
            margin-left: 10px;
            align-items: center;
            width: 85%;
         }
         .chckbx{
            width: 100%;
         }
         .confirm,.back{
            width: 95%;
            margin-left: 10px;
         }
      
        @media only screen and (max-width: 1100px){
            .box,.border {
                margin-left: 100%;
            }
            .box,.border ,.content-table,.Transaction-table, .contact-table,.chckbx  {
                margin-left: 10px;
                align-items: center;
                width: 85%;
             }
             .chckbx{
                width: 100%;
             }
             .confirm,.back{
                width: 95%;
                margin-left: 10px;
             }
         
        }
        @media only screen and (max-width: 600px ){
            .box,.border {
                margin-left: 1%;
            }
            }
            .box,.border ,.content-table,.Transaction-table, .contact-table,.chckbx  {
                align-items: center;
                width: 88%;
             }
             .chckbx{
                width: 100%;
             }
             .confirm,.back{
                width: 95%;
                margin-left: 10px;
             }
        }
        @media only screen and (max-width: 500px){
            .box,.border ,.content-table,.Transaction-table, .contact-table,.chckbx  {
                margin-left: 10px;
                align-items: center;
                width: 85%;
             }
             .chckbx{
                width: 100%;
             }
             .confirm,.back{
                width: 95%;
                margin-left: 10px;
             }
        }
        @media only screen and (max-width: 1920px){
         
            .box,.content-table,.Transaction-table, .contact-table,.chckbx  {
                /* margin-left: 10px; */
                align-items: center;
                width: 50%;
             }
             .chckbx{
                width: 90%;
             }
             .confirm,.back{
                width: 20%;
                margin-left: 10px;
             }
             .box{
                margin-left: 22%;
             }
             .border{
                margin-left: auto;
                margin-right: auto;
             }
             .confirm{
                margin-left: 55%;
             }
        }
    