
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

/* Navigation Bar*/
nav{
    display: flex;
    padding: 0.6% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #032d89;
}
nav img{
    width: 60px;
    height: 60px;
}
.navbar{
    text-align: left;
}
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
}
nav ul ul{
    position: absolute;
    top:60px;
    right: -40px;
    display: none;
    background-color: #032d89;
    margin-top: -20px;
}
nav ul ul li{
    width: 150px;
    float:none;
    display: list-item;
    position: relative;
}
nav ul li:hover > ul{
    display: block;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 15px;
}
.main{
    position: relative;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  background: white; 
  margin-top: 20px;
  margin-left: 340px;
  margin-bottom: 10px; 
  border: 1px solid #b3b3b3;
}
.main header{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
h4{ 
    font-size: 19px;
}
.info{
    margin-top: 30px;
}
.info input{
    width: 600px;
    padding: 0 5px 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    margin-top: 10px;
    margin-left: 40px;
    outline: none;
    text-transform: uppercase;
    border: 1px solid black
}
.btn{
    width: 100px;
    height: 40px;
    color: black;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    margin-top: 40px;   
}
.btn_nxt{
    background-color: #032d89;
    color: white;
    margin-left: 470px;
}
#selectText1, #selectText2,#gen{
    width: 600px;
    height: 45px;
    margin-left: 40px;
    margin-top: 5px;
}
.addrss p{
    font-size: 12px;
    margin-left: 39px;
    margin-bottom: -10px;
}
.imptnt::after{
    content: "*";
    color: red;
}

