@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Navigation Bar*/

nav{ 
  display: flex;
  padding: 0.6% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: #032d89;
}
nav img{
  width: 60px;
  height: 60px;
}
.navbar{
  text-align: left;
}
.navbar li{
  list-style: none;
  display: inline-block;
  padding: 8px 7px;
  position: relative;
}
nav ul ul{
  position: absolute;
  top:60px;
  right: -40px;
  display: none;
  background-color: #032d89;
  margin-top: -20px;
}
nav ul ul li{
  width: 150px;
  float:none;
  display: list-item;
  position: relative;
}
nav ul li:hover > ul{
  display: block;
}
.navbar ul li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}
.navbar ul li{
  font-size: 15px;
}

.main{
  position: relative;
  max-width: 50%;
  width: 100%;
  padding: 25px;
  background: white; 
  margin-top: 20px;
  margin-left:25%;
  margin-bottom: 10px; 
  border: 1px solid #b3b3b3;
}
.main2{
  border-radius: 8px;
  padding: 25px;
}
.main header{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
h2{
  text-align: center;
  padding-bottom: 10px;
}
h5{
  margin: 10px 3px;
  width: 650px;
  margin-left: 40px;
}
.title{
  margin: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.disclaimer1{
  text-align: left;
  margin: 10px 3px;
  font-size: 19px;
}
.btn_upload{
  width: 100px;
}
.next1{
  margin-left: 180px;
}
#chngeClssfctn li{
  margin-left: 80px;
  text-align: justify;
 
}
  
select{
  cursor: pointer;

  width: 100%;
  padding: 15px  20px;
  margin-bottom: 5px;
  box-sizing: border-box;
  outline: none;
  text-transform: uppercase;
}
#dplomt h4{
  text-align: center;
}
.req h4{
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}
#license{
  margin-top: 10px;
  display: block;
}
#mv_toa{
  display: block;
}
#lic_rr{
  display: block;
}
.next1 , .back1{
    width: 25%;
    height: 40px;
    color: black;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    margin-top: 40px; 
}
.back1{
  margin-left: 40px;
}
.disclaimer2 {
  text-align: left;
  height: 70px;
  padding: 30px 10px 30px 40px; 
  margin-bottom: -60px;
}
.next1 {
  background-color: #032d89;
  color: white;
  margin-left: 40%;
}
#cl_dcardc p{
  font-size: 20px;
  font-weight:300;
  text-align: center;
  color: red;
}
#cl_edl p{
  font-size: 20px;
  font-weight:300;
  text-align: center;
  color: red;
}
#rr_copd p{
  font-size: 20px;
  font-weight:300;
  text-align: center;
  color: red;
}
#chngeClssfctn p{
  font-size: 20px;
  font-weight:300;
  text-align: center;
  color: red;
}
.req ul li{
  /* padding: 5px 20px;  */
  width: 600px;
  margin-left: 60px;
}
#cofd p{
  font-size: 20px;
  font-weight:300;
  text-align: center;
  color: red; 
}
@media only screen and (max-width: 1200px){
  .main{
    margin-left: 20%;
    
  }
  .next1{
    margin-left: 20%;
  }
  .main ul li {
    width: 90%;
    margin-left: 10%;
  }.main h5{
    width: 90%;
    margin-left: 10%;
  }
}
