@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
  width: 80px;
  height: 80px;
}
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }
  
    .text-primary {
      color: #666666;
    }
    
    .text-blue {
      color: #032d89;
    }
    
    .text-red {
      color: #cc3c43;
    }
    
    .text-green {
      color: #367952;
    }
    
    .text-orange {
      color: #f5b74f;
    }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  
/* ---------- SIDEBAR ---------- */
  
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #032d89;
  color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 15px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list > a {
  text-decoration: none;
  color: white;
}
#sidebar ul ul li {    
list-style: none;
padding: 10px 20px 10px 10px;
display: none;
}
.dropdown-container{
color: #e6e8ed;
padding-top: 10px;
margin-top: 20px;
}
.dropdown-container .con-lic, .dropdown-container .con-mv{
padding: 20px 15px 0px 20px;
margin-top: -20px;
}
.dropdown-container a{
  text-decoration: none;
  color: white;
}
.sidebar-list-item1 button{
  padding: 20px 15px 20px 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: default;
  outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
background-color: rgba(255, 255, 255, 0.2);
}
.con-lic:hover{
background-color: rgba(255, 255, 255, 0.2);
}
.con-mv:hover {
background-color: rgba(255, 255, 255, 0.2);
}
/* Main content */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
/* padding: 0px 10px; */
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
display: none;
padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  
  .lcnsprmtreq {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .lcnsprmtreq-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .lcnsprmtreq-item-body-content1{
    width: 1060px;
  }
  .lcnsprmtreq-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .brdreq{
  background-color: rgb(218, 216, 216);
  margin: 50px; 
  padding: 0px 0px 10px 10px;
  margin-top: 100px;
  border-radius:30px;
  }
  .lcnsprmtreq-item-body {
    overflow: hidden;
    max-height: 0;
  }
  .lcnsprmtreq-item-body-content {
    padding: 1rem;
    border-top: 1px solid;
    list-style: none;
    
  }
  .lcnsprmtreq-item-body-content{
      height: 100%; 
      width: 100%;
  }
  
  .lcnsprmtreq-item-body-content h4{
      padding: 10px;
  }
  .lcnsprmtreq-item-body-content ul li{
      list-style: none;
      padding: 5px;
  }
  .lcnsprmtreq-item-body-content ul li ol li , .lcnsprmtreq-item-body-content ul li ol li ol li, .lcnsprmtreq-item-body-content ul li ol li ol li ol li{
      padding: 5px;
  }
  
  .nonpro {
      overflow: hidden;
      max-height: 0;
    }
  
    .nonprocontent  {
      padding: 1rem;
      border-top: 1px solid;
      list-style: none;
      
    }
    .nonprocontent {
        height: 1300px; 
    }
    
    .nonprocontent  h4{
        padding: 10px;
    }
    .nonprocontent  ul li{
        list-style: none;
        padding: 5px;
    }
    .nonprocontent  ul li ol li , .nonprocontent  ul li ol li ol li, .nonprocontent ul li ol li ol li ol li{
        padding: 5px;
    }
    .conductorreq {
      overflow: hidden;
      max-height: 0;
    }
  
    .conductorcontent  {
      padding: 1rem;
      border-top: 1px solid;
      list-style: none;
      
    }
    .conductorcontent {
        height: 2300px; 
    }
    
    .conductorcontent  h4{
        padding: 10px;
    }
    .conductorcontent  ul li{
        list-style: none;
        padding: 5px;
    }
    .conductorcontent  ul li ol li , .conductorcontent  ul li ol li ol li, .conductorcontent ul li ol li ol li ol li{
        padding: 5px;
    }
  
     
  .driversbody {
      overflow: hidden;
      max-height: 0;
    }
    
    .driverscnt  {
      padding: 1rem;
      border-top: 1px solid;
      list-style: none;
      
    }
    .driverscnt {
        height: 900px; 
    }
    
    .driverscnt  h4{
        padding: 10px;
    }
    .driverscnt  ul li{
        list-style: none;
        padding: 5px;
    }
    .driverscnt  ul li ol li , .driverscnt  ul li ol li ol li, .driverscnt ul li ol li ol li ol li{
        padding: 5px;
    }
    
   
  .mvb {
    overflow: hidden;
    max-height: 0;
  }
  
  .mvcontent  {
    padding: 1rem;
    border-top: 1px solid;
    list-style: none;
    
  }
  .mvcontent {
      height: 1500px; 
  }
  
  .mvcontent  h4{
      padding: 10px;
  }
  .mvcontent  ul li{
      list-style: none;
      padding: 5px;
  }
  .mvcontent  ul li ol li , .mvcontent  ul li ol li ol li, .mvcontent ul li ol li ol li ol li{
      padding: 5px;
      
  }
  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
      
    }
  
    .menu-icon {
      display: inline;
      cursor: pointer;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .header-left {
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
 .lcnsprmtreq-item ul li{
       width: 100%;
     
    }
    .lcnsprmtreq-item ol li{
      width: 100%;
   }
    .nonprocontent ul li{
      width: 100%;
      
    }
    .nonprocontent ol li{
      width: 100%;
    }
    .driverscnt ul li{
      width: 100%;
    }
    .driverscnt ol li{
      width: 100%;
    }
    .conductorcontent ul li{
      width: 100%;
    }
    .conductorcontent ol li{
      width: 100%;
    }
    .mvcontent ul li{
      width: 100%;
    }
    .mvcontent ol li{
      width: 100%;
    }
    .nonprocontent{
      height: 2200px;
    }
    .driverscnt{
      height: 1500px;
    }
  .conductorcontent{
    height: 3500px;
  }
  .mvcontent{
    height: 2000px;
  }

   
  }
  